[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
curlify = "*"
allure-pytest = "*"
dataclasses-json = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
tests="pytest tests"
